# Pandas Practice
This is to practice my pandas skills! I will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

In [2]:
import pandas as pd
sal = pd.read_csv('Salaries.csv')

In [8]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

** How many entries are there? **

In [10]:
sal.info() #148654 Entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the avarage BasePay?**

In [13]:
sal['BasePay'].mean()

66325.44884050643

**What is the highest OvertimePay?**

In [16]:
sal['OvertimePay'].max()

245131.88

**How to find jobtitle of someone in dataset? Let say David M Turner**

In [18]:
sal[sal['EmployeeName'] == 'David M Turner']['JobTitle']

94797     Transit Car Cleaner
148634    Transit Car Cleaner
Name: JobTitle, dtype: object

**How to find someone's jobtittle in dataset? Let say General Laborer**

In [19]:
sal[sal['JobTitle']== 'General Laborer']['EmployeeName']

46838                    David Linney
49214                   William Smith
50163                Nicholas DeRenzi
50267                    Tino Laulusa
50370                 Jerold Robinson
51742                  Kenneth Helmer
51747                       Gary Reid
51960                    Edwin Gipson
52452                  Renato Soriano
52879                   Anthony Umali
53376                 Eduardo Pacheco
53389                  Alonzo Simpson
53671     Ricardo Zaragoza-Cabrera Jr
53763                 Timothy Alemany
53856                Lawrence Peoples
53939             Waldemar Medolinski
54134                 Jermaine Joseph
54211                   Larry Montoya
54251                     John Miller
54276                  Gerardo Campos
54296                Patrick Flaherty
54329                   Uera Smith-Jr
54500                     David Gibbs
54512                 Antonio Pacheco
54518                 Jared Adam Work
54543                    Michael Chow
54572                    Jieke Ouyang
54595                    Edmundo Cruz
55091              Eric Hollingsworth
55173                  Wayzata Turner
                     ...
141726              Vincent E Johnson
141747             Bonifacio B Afable
141781                     Waylen Sue
141809            Kenneth B Buncum Jr
141838                   John J Daily
142026               William L Hubner
142170                   Uili F Taufa
142259                 Jarrod G Moore
142437           Edilberto B Talavera
143041                Richard M Mello
143202              Gregory Dominguez
143234               Marcus A Sanchez
143413              Kimberly A Dalton
143664                 Minnie J Blunt
143783               Robert D Johnson
143956             Daniel L Dambacher
144632              Jared Adam W Work
144967                Boy Willy G Gan
145095               Alec R Dentinger
145676         Christopher M Medearis
145919           Christopher J Mullin
146036                 John A Mikulin
147315           Joseph Slaughter Iii
148154                  Thomas Oneill
148276                Dominic Mangini
148594             William A Mitchell
148627               Brett A Lundberg
148628                 Mark W Mcclure
148633               Edward Ferdinand
148635            James S Kibblewhite
Name: EmployeeName, Length: 1033, dtype: object

There is 1033 people who have jobtitle as Genereal Laborer

**How much does David M Turner make (including benefits)?**

In [20]:
sal[sal['EmployeeName']=='David M Turner']['TotalPayBenefits']

94797     90095.47
148634        0.00
Name: TotalPayBenefits, dtype: float64

**Who is the highest paid person (including benefits)?**

In [25]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

**Who is the lowest paid person (including benefits)?**

In [28]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Why is it minus? idk

**What is the averege pay Basepay of all employees per year? (2011-2014)**

In [32]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**What is the averege pay Basepay of all employees based on Jobtitles? (2011-2014)**

In [33]:
sal.groupby('JobTitle').mean()['BasePay']

JobTitle
ACCOUNT CLERK                                          43300.806506
ACCOUNTANT                                             46643.172000
ACCOUNTANT INTERN                                      28732.663958
ACPO,JuvP, Juv Prob (SFERS)                            62290.780000
ACUPUNCTURIST                                          66374.400000
ADMINISTRATIVE ANALYST                                 63435.628602
ADMINISTRATIVE ANALYST II                              59373.710000
ADMINISTRATIVE ANALYST III                             92698.515000
ADMINISTRATIVE ENGINEER                               120913.161000
ADMINISTRATIVE SERVICES MANAGER                        75555.033333
ADMINISTRATOR, SFGH MEDICAL CENTER                    245124.440000
AFFIRMATIVE ACTION SPECIALIST                          68177.316667
AGRICULTURAL INSPECTOR                                 53274.100000
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI      1927.500000
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS          15420.000000
AIRPORT COMMUNICATIONS OPERATOR                        67643.142593
AIRPORT COMMUNICATIONS SUPERVISOR                      86585.825000
AIRPORT ECONOMIC PLANNER                              108145.590769
AIRPORT ELECTRICIAN                                    95488.671765
AIRPORT ELECTRICIAN SUPERVISOR                        104203.725000
AIRPORT EMERGENCY PLANNING COORDINATOR                 75865.935000
AIRPORT MECHANICAL MAINTENANCE SUPERVISOR             118978.520000
AIRPORT NOISE ABATEMENT SPECIALIST                     49108.725000
AIRPORT OPERATIONS SUPERVISOR                          84760.671667
AIRPORT POLICE SERVICES AIDE                           51178.742834
AIRPORT PROPERTY SPECIALIST I                          76531.885385
AIRPORT SAFETY OFFICER                                 66613.333000
ANESTHETIST                                           104138.844000
ANIMAL CARE ASSISTANT SUPERVISOR                       55018.510000
ANIMAL CARE ATTENDANT                                  41512.403571
                                                          ...
Wastewater Control Inspector                           77314.256400
Water & Power Maint Sprv 1                             95249.210000
Water Conservation Admin                              112241.046667
Water Const&Main Supt                                 108309.654000
Water Meter Repairer                                   65817.453333
Water Meter Shop Supervisor 1                          71134.215000
Water Operations Analyst                               99846.845429
Water Quality Tech III                                 69341.181667
Water Quality Technician                               65320.203125
Water QualityTech I/II                                 64939.743485
Water Service Inspector                                86310.919146
Watershed Forester                                     98584.505000
Watershed Keeper                                       61810.370000
Watershed Keeper Supervisor                            74538.460000
Watershed Worker (Seasonal)                            10016.476512
Welder                                                 60895.701579
Welfare Fraud Investigator                             87780.635000
Wharfinger 1                                           50739.353333
Wharfinger 2                                           73591.311000
Window Cleaner                                         66053.394600
Window Cleaner Supervisor                              75813.750000
Wire Rope Cable Maint Mechanic                         63595.104138
Wire Rope Cable Maint Sprv                             92751.746667
Worker's Comp Supervisor 1                             68867.296429
Worker's Compensation Adjuster                         72363.278784
X-RAY LABORATORY AIDE                                  47664.773077
X-Ray Laboratory Aide                                  46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS         52609.910000
Youth Comm Advisor                                     39077.957500
ZOO CURATOR                                            43148.000000
Name: BasePay, Length: 2159, dtype: float64

**How many unique jobtitles?**

In [36]:
sal['JobTitle'].nunique()

2159

**What are the 10 types most common jobs?**

In [40]:
sal['JobTitle'].value_counts().head(10)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

**How many job titles were represented by only person in 2014?**

In [43]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their Job titles?**

In [44]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [50]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

**Thanks**